html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    /* calculate width and height of column with padding */
    box-sizing: border-box;
}

h3{
    color: #e5e5e5;
}

a h3:hover{
    color: #fff;
    
}

a{
    text-decoration: none;
}

/* Scrollbars */
::-webkit-scrollbar {
    height: 10px; /* thinner scrollbar */
    background-color: #141414; /* lighter color */
}
 
::-webkit-scrollbar-thumb {
  background-color: #4a4a4a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555555; 
}

.wrapper{
    min-width: 1050px;
    min-height: 100%;
    background-color: #141414;
}

.signInContainer{
    position: relative;
    background-color: #0000007a;
    height: 100vh;
    /* take up all available width in page */
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgContainer{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 20px 0;
    overflow: hidden;
    z-index: -1;
}

.login-background{
    position: absolute;
    width: 100%;
    height: 100%
}

.column{
    background-color: #000000cc;
    border-radius: 10px;
    min-height: 300px;
    max-height: 100%;
    width: 450px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
    padding: 20px 35px;
    /* make column scrollable */
    overflow-y: auto;
}

.column form{
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

.column form input[type="text"],
.column form input[type="email"],
.column form input[type="password"]{
    font-size: 14px;
    margin: 5px 0;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 2px;
    height: 30px;
}

.column form input[type="submit"]{
    background-color: #e50913;
    color: #fff;
    height: 45px;
    width: 380px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.column .header{
    padding: 20px 0;
}

.column h3{
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    padding-top: 16px;
}

.column .header span{
    font-size: 14px;
    color: white;
}

.logo{
    width: 175px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.signInMessage{
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.errorMessage{
    color: #e40913;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.previewVideo, .previewImage{
    width: 100%;
}

.previewOverlay{
    width: 100%;
    height: 100%;
    background-color: #0000007a;
    /* Allow an absolute positioned element to be positioned relative to the parent element */
    position: absolute;
}

.previewContainer{
    /* Allow an relative positioned element to be positioned relative to the parent element */
    position: relative;
    display: flex;
}

.previewContainer.small{
    width: 230px;
    height: 129px;
    margin-right: 4px;
    display: inline-flex;
}

.previewContainer.small img{
    width: 100%;
    height: 100%;
    /* Prevent image from being stretched */
    object-fit: cover;
}

.previewOverlay .mainDetails h3{
    color: #fff;
    font-size: 40px;
    margin: 15px 0;
}

.previewOverlay .mainDetails h4{
    color: #fff;
    font-size: 20px;
    margin: 15px 0;
}

.previewOverlay .mainDetails{
    /* Allow a relative positioned element to be positioned relative to the parent element */
    position: relative;
    top: 35%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.mainDetails button{
    background-color: #0000007a;
    color: #fff;
    border: none;
    min-width: 150px;
    padding: 0 38px;
    height: 50px;
    max-height: 50px;
    font-size: 18px;
    border-radius: 2px;
    margin-bottom: 15px;
    margin-right: 5px;
}

button i{
    /* Allow button to inherit color from parent */
    color: inherit;
}

.mainDetails button:hover{
    background-color: #000000cc;
    cursor: pointer;
}

.category{
    display: flex;
    flex-direction: column;
    padding: 10px 0;;
}

.entities, .videos{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.previewCategories {
    padding: 0 50px;
}

.errorBanner{
    color: #fff;
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.season{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.episodeContainer{
    display: inline-flex;
    justify-content: center;
    margin-right: 4px;
}

.episodeContainer .contents{
    display: flex;
    flex-direction: column;
    width: 230px;
    position: relative;
}

.episodeContainer img{
    width: 230px;
    height: 129px;
    /* Prevent image from being stretched */
    object-fit: cover;
}

.episodeContainer .videoInfo h4,
.episodeContainer .videoInfo span{
    color: #fff;
    width: 100%;
    /* Prevent text from overflowing */
    white-space: normal;
}

.episodeContainer .videoInfo{
    max-height: 200px;
    overflow-y:auto
}

.watchContainer video{
    width: 100%;
}

.videoControls{
    position: absolute;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.videoControls h1{
    color: #fff;
}

.videoControls button{
    font-size: 50px;
    padding: 50px;
    color: #fff;
    background-color: transparent;
    border: none;
}

.upNext{
    height: 100%;
    justify-content: center;
}

.upNextContainer{
    padding: 0;
}

.upNextContainer h2,
.upNextContainer h3{
    color: #fff;
}

.watchNav{
    z-index: 2;
}

.seen{
    color: #2ecc71;
    font-size: 26px;
    position: absolute;
    top: 5px;
    left: 5px;
}